/*FONTS  ~~*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900,500,300,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,500,300");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200");
/*FIN FONTS*/


*{
  margin: 0;
  padding: 0;
}


/*DEBUT COLONNES + ANIMATION ~~*/
#left{
  display: none;
}

#left.anim2 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: 40%;
    height: 100%;
    background: #fff;
}

#right {
    position: fixed;
    z-index: 400;
    top: 0;
    left: 400px;
    width:68%;
    height: 100%;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.135, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650);
     -moz-transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650);
       -o-transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650);
          transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650); /* custom */
    background-image: url('../img/ciel42.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#right.anim1 {
    position: fixed;
    z-index: 400;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.135, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650);
     -moz-transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650);
       -o-transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650);
          transition: all 500ms cubic-bezier(1.000, -0.600, 0.135, 1.650); /* custom */
    background-image: url('../img/ciel1.svg');
    background-repeat: no-repeat;
    background-size: cover;

}



#rightleave{
  position: fixed;
  z-index: 9999;
  top: 0;
  left:0;
  visibility: visible;
  width: 400px;
  height: 100%;
  -webkit-transition: all 500ms cubic-bezier(1.000, 0, 1.000, 1);
  -webkit-transition: all 500ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
   -moz-transition: all 500ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
     -o-transition: all 500ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
        transition: all 500ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
  opacity: 1;
  background: #D9D9D9;
}

#rightleave.anim3{
  visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(1.000, 0, 1.000, 1);
  -webkit-transition: all 400ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
   -moz-transition: all 400ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
     -o-transition: all 400ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
        transition: all 400ms cubic-bezier(1.000, -0.600, 1.000, 1.650);
  opacity: 0;
}
/*FIN COLONNES + ANIMATIONS*/



/*debut navigation top ~~*/
#navLeave{
  -webkit-transition: all 400ms cubic-bezier(1.000, 0, 0.580, 1.000); /* older webkit */
  -webkit-transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
   -moz-transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
     -o-transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
        transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
  opacity: 0;
}


#navLeave.anim4{
  display: block;
  -webkit-transition: all 400ms cubic-bezier(1.000, 0, 0.580, 1.000); /* older webkit */
  -webkit-transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
   -moz-transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
     -o-transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
        transition: all 400ms cubic-bezier(1.000, -0.600, 0.580, 1.000);
  opacity: 1;
}

nav.topNav {
    position: fixed;
    z-index: 800;
    top: 0%;
    left: 0%;
    display: block;
    width: 40%;
    text-align: center;
}

.topNav li{
  display: inline-block;
  width: 30%;
}

.topNav li a{
  width: 30%;
  list-style: none;
  cursor: hand;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(92, 91, 91);
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.2em;
}

/*FIN navigation top*/



/*DEBUT navigation verticale~~*/

#verticaleNav{
  display: none;
  -webkit-transition: all 300ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
   -moz-transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -o-transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
        transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
  opacity: 0;
}

#verticaleNav.anim5{
  display: block;

  -webkit-transition: all 300ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
   -moz-transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -o-transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
        transition: all 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
  opacity: 1;
}

nav.verticalnav {
  position: absolute;
  z-index: -1;
  left: 0;

  width: 30px;
  height: 100%;
  margin-left: -40px;

  background-color: inherit;
  background-repeat: no-repeat;
  background-position: left center;
}

li.navtest {
  position: relative;
  z-index: 500;
  top: 20%;

  display: block;

  width: 100%;
  height: 20%;

  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

li a.navsocial {
  position: absolute;
  top: 15%;
  left: 2em;

  width: 10% !important;
  min-width: 0;
  margin: 0;
  cursor: hand;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  font-family: 'Inconsolata', sans-serif;
  font-size: .8em;
}

/*FIN navigation verticale*/


/*DEBUT section + article left~~*/
    div.info{
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid red;
    }

div.preLeft{
  position: relative;
  top: 30%;
}

section .position {
    max-width: 950px;
    padding: 0 80px;
    margin: 250px auto 250px;
    position: relative;
    margin-top: 200px;
}



#contentleft{
  position: relative;
  top: 2em;
  height: auto;

}

#left .position .head {
    font: 600 1.9em 'Roboto', sans-serif;
    max-width: 50%;
    text-align: right;
    margin-bottom: 40px;
    margin-top: 20%;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

#left .position .text {
    font: 200 1.4em 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;
    padding-left: 20%;
    max-width: 80%;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*animation left*/
@keyframes anime1 {
    0% {
        left:-200px;
    }
    50%{
      left:-100px;
    }
    100% {
        left:0;
    }
}
@-moz-keyframes anime1 { /* Firefox */
  0% {
      left:-400px;
      }
      50%{
        left:-100px;
      }
  100% {
      left:0;
      }
}
@-webkit-keyframes anime1 { /* Safari and Chrome */
  0% {
      left:-400px;
  }
  50%{
    left:-100px;
  }
  100% {
      left:0;
  }
}
@-o-keyframes anime1 { /* Opera */
  0% {
      left:-400px;
  }
  50%{
    left:-100px;
  }
  100% {
      left:0;
  }
}

#left .position .line {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20px;
    left: 20%;
}

#left h1.profil{
  font: 500 2em 'Ubuntu', sans-serif;
  padding: 1em;
}


/*FIN section + article left*/



/*DEBUT amovible rightleave onlick~~*/

#InfoCenter{
  position: fixed;
  top: 40%;
  left: 22%;
  padding: 0;
  margin: 0;
}

#InfoCenter.anim7{
  display:none;
}

#rightleave h1.logo{
  position: relative;
  top: 1%;
  left: 4%;
  display: block;
  color: #40BDE8;
  font-family: 'Roboto', sans-serif;
  font-size: 10em;
  font-weight: 800;
}

#InfoCenter h1.nom{
  /*position: relative;
  left: 10%;*/
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #40BDE8;
}

#InfoCenter h1.nom span{
  /*position: relative;*/
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  color: #222;
  background-color: #D9D9D9;
}

#InfoCenter p.domaine{
  /*position: relative;
  left: 10%;*/
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #40BDE8;
}

#InfoCenter p.domaine span{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  color: #222;
  background-color: #D9D9D9;
}

/*FIN amovible rightleave onlick*/



/*DEBUT InfoAside ~~*/
#InfoAside.anim6 {
    display: block;
    position: absolute;
    z-index: 5001;
    top: 40%;
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}

#InfoAside {
    display:none;
}

div#InfoLeft {
    float: left;
    position: relative;
    display: inline-block;
    width: 49%;
    height: 100%;
    text-align: right;
    border-right: 2px solid white;
}


div#InfoRight {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: left;
}

#InfoLeft h1{
  text-decoration: none;
  color: #161921;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4em;
  font-weight: 400;
}

#InfoLeft h1 span{
    text-decoration: none;
    letter-spacing: 4px;
    color: #434343;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    }

#InfoLeft h2{
    margin-right: 0;
    padding:0;
    color: #161921 !important;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

#InfoRight p{
  display: block;
  font: 400 1em 'Ubuntu', sans-serif;
}
/*FIN InfoAside ~~*/


/*DEBUT TEXTE UNDER~~*/
h1.underRight{
  position: relative;
  margin:0;
  color :#000000;
  font-family: 'Roboto', sans-serif;
  font-size: 15em;
}
/*FIN TEXTE UNDER~~*/



/*DEBUT input button~~*/


div#button {
    position: absolute;
    top: 150px;
    left:40%;
    width: 20%;
    padding:0;
    margin: 0;
    color: black;
    background-color: inherit;
    font: 300 1em 'Roboto', sans-serif;
}

/*FIN input button*/




strong.little {
  position: relative;
  z-index: 2;
  font-weight:200;

}

strong.fat{
  position: relative;
  z-index: 2;
  font-weight:500;
}

span.blue {
    position: relative;
    display: inline-block;
    padding-top: 0;
    padding-right: .2em;
    padding-left: .2em;
    color: #f7f7f7;
    background-color:#40BDE8;
}



span.grey {
    position: relative;
    z-index: 1;
}

span.grey:after {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 18px;
    content: '';
    background: #40BDE8;
}

span.black {
    position: relative;
    z-index: 1;
}

span.black:after {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0;
    display: block;
    width: 100%;
    height: 20px;
    content: '';
    background: #000;
}


.arrow {
  position: fixed;
  bottom: 0%;
  left: 35%;
  width: 40px;
  height: 60px;
  background-image: url('../img/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}


.line {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 10%;
    height: 10%;
    margin:0;
}

.line:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.4s;
    -webkit-transform: translate(-30%, -50%) rotate(25deg);
    transform: translate(-30%, -50%) rotate(25deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1;
    background: #000;
  }



  /*typing text*/
  @keyframes type-1 {
  from {width: 0;}
}

@keyframes type-3 {
  from {width: 0;}
}


@keyframes type-2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{width: 100;}
}

@keyframes blink {
  to{opacity: .0;}
}

.text-1 {
  animation: type-1 2s steps(60, end);
}
.text-2 {
  animation: type-2 6s steps(60, end);
}

.text-3 {
  animation: type-3 1s steps(1, end);
}
/*span{
  animation: blink 1s linear 20s infinite;
}*/

/*typing text2*/

/*line scroll*/


.intro-scroll-tip {
    position: absolute;
    right: 0%;
    bottom: 6%;
    margin: 0 0 0 -50px;
}

.intro-scroll-tip:before {
    position: absolute;
    bottom: -60px;
    left: -6px;
    display: block;
    width: 1px;
    height: 45px;
    content: '';
    background: #2f2f2f;
}

.intro-scroll-tip .tip {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    letter-spacing: -0.03em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

/*fin line scroll*/

.intro-link-more {
    position: absolute;
    bottom: 60px;
    left: 135px;
    letter-spacing: -0.03em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    font-weight: 400;
}


.intro-link-more:after {
    position: absolute;
    right: -2px;
    bottom: -2px;
    left: -2px;
    display: block;
    height: 1px;
    content: '';
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
    -moz-transition: -moz-transform 0.3s cubic-bezier(1, 0, 0, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(1,0,0,1);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #fafafa;
}

.intro-link-more:before {
    position: absolute;
    top: 50%;
    right: 100%;
    left: -135px;
    display: block;
    height: 1px;
    margin: 1px 25px 0 0;
    content: '';
    -webkit-transition: background 0.1s ease, right 0.3s cubic-bezier(1, 0, 0, 1), margin-right 0.3s cubic-bezier(1, 0, 0, 1);
    -moz-transition: background 0.1s ease 0.2s, right 0.3s cubic-bezier(1, 0, 0, 1) 0s, margin-right 0.3s cubic-bezier(1, 0, 0, 1) 0s;
    -o-transition: background 0.1s ease 0.2s, right 0.3s cubic-bezier(1, 0, 0, 1) 0s, margin-right 0.3s cubic-bezier(1, 0, 0, 1) 0s;
    transition: background 0.1s ease 0.2s, right 0.3s cubic-bezier(1, 0, 0, 1) 0s, margin-right 0.3s cubic-bezier(1, 0, 0, 1) 0s;
    -webkit-transition-delay: 0.2s, 0s, 0s;
    background: #2f2f2f;
}


/*BLOCK ANIM*/


.block.block01 {
    margin-top: 0px;
    top: 40%;
    left: 30%;
    width: 2px;
    height: 50px;
}

  .block.block02 {
  top: 50%;
  left: 15%;
  width: 2px;
  height: 100px;
  }

.block.block03 {
    top: 200px;
    right: 200px;
    width: 5px;
    height: 5px;
}

.block {
    margin-top: 0px;
    position: fixed;
    height: 0px;
    background-color:#40BDE8;
    z-index: 500;
}

.block{
  -webkit-animation: movingblock1 10s infinite;
    -webkit-animation-fill-mode: backwards;
        -moz-animation-fill-mode: backwards;
         -ms-animation-fill-mode: backwards;
          -o-animation-fill-mode: backwards;
             animation-fill-mode: backwards;
}

.block02{
  -webkit-animation: movingblock2 10s infinite;
    -webkit-animation-fill-mode: backwards;
        -moz-animation-fill-mode: backwards;
         -ms-animation-fill-mode: backwards;
          -o-animation-fill-mode: backwards;
             animation-fill-mode: backwards;
}

@keyframes movingblock1{
  0% {
    transform:  translate(0px,0px)  ;
    opacity: 0.5;
  }
  15% {
    transform:  translate(0px,-2px)  ;
    opacity: 0;
  }
  30% {
    transform:  translate(0px,0px)  ;
    opacity: 0.3;
  }
  45% {
    transform:  translate(0px,-4px)  ;
    opacity: 0.6;
  }
  60% {
    transform:  translate(0px,0px)  ;
    opacity: 0.9;
  }
  75% {
    transform:  translate(0px,8px)  ;
    opacity: 0.2;
  }
  100% {
    transform:  translate(0px,0px)  ;
    opacity: 0.8;
  }
}

@keyframes movingblock2{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(-5px,0px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(-10px,0px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(5px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

/*FIN BLOCK ANIM*/


.line5 {
background-color: #161921;
clear: both;
float: right;
height: 1px;
margin-bottom: 30px;
margin-top:0px;
position: absolute;
left: 5%;
width: 10%;
}

#liner {
    width: calc(100% + 41px);
    height: 100%;
    margin-left: -41px;
}

#diagLine {
z-index: -9999;
position: absolute;
top: 0;
right: 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*MEDIA SCREEN*/

@media screen and (min-width:500px) and (max-width: 620px) {

  nav.topNav {
    position: fixed;
    z-index: 800;
    top: 0%;
    left: 0%;
    display: block;
    width: 40%;
    text-align: center;
}

.topNav li a {
    width: 30%;
    list-style: none;
    cursor: hand;
    text-decoration: none;
    color: #161921;
    font-family: 'Ubuntu', sans-serif;
    font-size: .8em;
    font-weight: 200;
}

#left h1.profil {
    font: 500 1.5em 'Ubuntu', sans-serif;
    padding: .5em;
}

#left .position .head {
    font: 600 1.3em 'Roboto', sans-serif;
    max-width: 70%;
}

#left .position .text {
    font: 200 1.1em 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;
    padding-left: 5%;
    max-width: 80%;

}

}

@media screen and (max-width:500px) {

  #right.anim1 {
      position: absolute;
      z-index: 400;
      top: 0;
      left: 0%;
      width: 100%;
      height: 80%;
      background-image: url('../img/ciel42B.svg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  #rightleave{
    position: fixed;
    z-index: 9999;
    top: 0;
    left:0;
    visibility: visible;
    width: 200px;
  }

  #right {
      position: fixed;
      z-index: 400;
      top: 0;
      left: 200px;
      width:70%;
      height: 100%;
  }

  #left.anim2 {
      position: absolute;
      top: 80%;
      left: 0;
      display: block;
      width: 100%;
      height: 80%;
      background: #fff;
  }

  nav.topNav {
    position: fixed;
    z-index: 800;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    text-align: center;
}

#section1, #section2, #section3{
    width: 400px;
    padding: 0;
    position: relative;
}



#left h1.profil {
    font: 500 1.8em 'Ubuntu', sans-serif;
    padding: 1em;
    text-align: center;
}

#left .position .head {
    font: 600 1.9em 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    top: 10%;
    left:20%;
    margin:1em;
    padding: 0em;
}

#left .position .text {
    font: 200 1.4em 'Yanone Kaffeesatz', sans-serif;
    width: 100%;
    position: relative;
    top: 10%;
    left:20%;
    margin:.5em;
    padding: .5em;
}

.arrow{
  display: none;
}


#InfoCenter{
  position: fixed;
  top: 40%;
  left: 17%;
  padding: 0;
  margin: 0;
}

div#button {
    position: absolute;
    top: 150px;
    left:0%;
    width: 20%;
    padding:0;
    color: black;
    background-color: inherit;
    font: 300 1em 'Roboto', sans-serif;
}

/*TEST*/
.infoContainer {
    position: relative;
    width: 100%;
    height: auto;
}
